<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PersonalBudget - Login</title>
</head>
<body style="font-family: 'Courier 10 Pitch'">
<h1 align="center">PersonalBudget</h1>
<h3 align="center">Login</h3>



    <form th:action="@{/login}" method="POST" class="form-signin">
        <div align="center">
        <label for="username">Username</label>
        <br />
        <input type="text" id="username" name="username" class="form-control" />
        <br />
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" name="password" class="form-control" />
        <br />
        <br />
        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
            <br />
            <span th:if="${param.error}">
            <p style="color: #FF0000;">Username or Password is incorrect, please try again.</p>
        </span>
        </div>
    </form>
    <br />
    <br />
    <div align="center"><a th:href="@{http://localhost:8080/registration}">Register</a></div>

</body>
</html>