<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .validation-message {
            color: #FF0000;
        }
    </style>
    <meta charset="UTF-8">
    <title>PersonalBudget - Register</title>
</head>
<body style="font-family: 'Courier 10 Pitch'">
<h1 align="center">Register</h1>

        <div align="center">
        <form th:action="@{/registration}"
              th:object="${user}" method="POST">

                    First Name
                    <br />
                    <input type="text" th:field="*{firstname}" />
                    <br />
                    <label th:for="firstname" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
                           class="validation-message"></label>
                <br />
                <br />

                    Last Name
                    <br />
                    <input type="text" th:field="*{lastname}" />
                    <br />
                    <label th:for="lastname" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
                           class="validation-message"></label>

                <br />
                <br />

                    Username
                    <br />
                    <input type="text" th:field="*{username}" />
                    <br />
                    <label th:for="username" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                class="validation-message"></label>

                <br />
                <br />

                    Password
                    <br />
                    <input type="password" th:field="*{password}" />
                    <br />
                    <label th:for="password"></label>
            <ul style="list-style: none" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <p style="color: #FF0000;"
                       th:text="${message}"></p>
                </li>
            </ul>

                <br />

            <button name="Register" value="registration" type="Submit" th:text="Submit"></button>

            </div>
        </form>
    <div align="center">
        <p style="color: #00CC00;"><span th:utext="${successMessage}"></span></p>
    </div>
</body>
</html>










</body>
</html>